img{width:300px;
	align-itam:"center";
	}
header{position:sticky;
top:0;}
.hcs{
background-color: #1E3A8A ;
color:#F9FAFB;
text-align:center;
padding:opx;
margin:5px;}


body{background-color: #F1F5F9;
;
}
.cs{

padding:50px;
margin:20px;
background-color:rgba(255,255,255,0.9);
text-align:justify;
border-radius:50px;
box-shadow:50px 50px 50px ;
border:2px solid black;
transition:3sec;
	
}

.boss{border-radius:20px;
	text-align:justify;
background-color:#1E3A8A;
color: #F9FAFB;

	
	
	
	
	
	
}
button:hover{background-color: #162F6A;}
.galcss{
	margin:100px 50px 100px 100px;
	display:flex;
	justify-content:space-around;
}
.glbot{background-color:#0D9488;
color#F9FAFB;
border-radius:20px;

}
button:hover{color:#0B6B65;
footer{position:sticky;
bottom:0;}